{% extends 'templates/base.html'%}

{% block content %}
<style>
<!--    *{-->
<!--        background-color: aqua;-->
<!--    }-->
    pre{
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        text-align: center;
    }

</style>

<body>
<pre> AM ELEVATORS is one of the most Trusted company in Pakistan ,we ar offering the best services to our curstomers.
      please don't feel hesitate to contact us.
      
      Phone1:   +923085078412

      Phone2:   +923085078412
      <br>
                                <a href="mailto:amelevatorscompany@gmail.com">E-mail : amelevatorscompany@gmail.com</a>

</pre>


</body>
</html>
{%  endblock %}