{% extends 'templates/base.html'%}

{% block content %}

<!--<iframe width="560" height="315" src="https://youtu.be/RsJ4m8n6H80" frameborder="0" allowfullscreen></iframe>-->



<!--<object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/v1gTI4BOPUw?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/v1gTI4BOPUw?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>-->



<!--    *{-->
<!--      background-color: rgb(29, 212, 188);-->
<!--    }-->
<style>
     h1{
      margin-left: 10%;
      margin-top: 5%;
      
     .about {
      text-align: center;
    }

    }
    .aboutcontent{
    margin-top: 2rem;
    margin-left: 20vw;
    text-align: left;
    
    




</style>


    <!--  -->
 





    <h1> Who we are?</h1>

    <div class="aboutcontent">
    
      AM Elevator gives us over a decade worth of experience in the elevator industry! When we say we know elevators,
      it is more than a simple statement, we have adapted the same inspirational culture within our organization. This
      has allowed us to become one of the premier elevator companies in Pakistan.
      We offer high quality services and elevator equipment at exceptional value to our clients. Our formulation for
      success includes developing a long-lasting partnership between our business and the clients in which we serve.
      We treat all of our customers as if they were family, and provide a level of service unparalleled in the
      elevator industry.When you chose MA Elevators as your preferred contractor, you will find that your
      elevators will be seamlessly maintained and operated.
  
    </div>
    <div class="features">
      <h1>
        <ul> What we are offering</ul>
      </h1>
      <li>Fast and Reliable Service We ensure all clients are fully satisfied with our products and services</li>
      <li>24/7 Emergency Services- Get your services delivered within an average of two hours</li>
      <li>Safety- We use world standard procedures to ensure every service task is performed at maximum safety</li>
      <li>Great Deals, Made Better- We will work with your budget and schedule to make you fully satisfied.</li> 
   
    </div> 
<!--    {%include "templates/footer.html"%}-->
    
   <!---->
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
  crossorigin="anonymous"></script>

</body>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
  -->


{% endblock %}
